#video-wrapper {
	border: 2px dotted black;
	padding: 1em;
	margin: 1em;
	height: 400px;
    img {
    border: 1px solid black;
    }
}

.h4 {
	color: red;
}

#previousVideo li {
	list-style-type: none;
}